<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <!--Logo de Event Master-->
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="" class="nav-link px-2  text-white">Inicio</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Disponibles</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Participando</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Finalizados</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Registrar nuevo evento</a></li>
      </ul>

      <div class="text-end">
        <button *ngIf="!existeToken" type="button" class="btn btn-outline-light me-2" routerLink="login">Iniciar
          sesión</button>
        <button *ngIf="!existeToken" type="button" class="btn btn-outline-light me-2">Registrase</button>
        <button *ngIf="existeToken" type="button" class="btn btn-warning" (click)="cerrarSesion()">Cerrar
          sesión</button>
      </div>
    </div>
  </div>
</header>