<div class="container marketing">
    <hr class="featurette-divider my-5">

    <div class="row featurette">
        <div class="col-md-7 p-5 p-lg-4">
            <h2 class="featurette-heading fw-normal lh-1 colorTitulos">Nosotros
                nos
                encargamos de todo
            </h2>
            <p class="lead">El personal encargado de la página Web del
                ayuntamiento puede contactar con nosotros
                para integrar Event Master.</p>
            <p class="lead">Nosotros realizaremos la integración y realizaremos
                las modificaciones que especifiques.</p>
            <a class="btn btn-outline-info mb-3" style="color: black;"
                href="mailto:dangilcalbot@gmail.com?Subject=Integración%20de%20Event%20Master">Contactanos</a>
        </div>
        <div class="col-md-5">


            <img class="bd-placeholder-img bd-placeholder-img-lg
                featurette-image img-fluid mx-auto"
                src="assets/imgMain/ayuntamiento.svg" width="400" height="400">
        </div>
    </div>

    <hr class="featurette-divider my-5">

    <div class="row featurette">

        <div class="col-md-7 order-md-2 p-5 p-lg-4">
            <h2 class="featurette-heading fw-normal lh-1 colorTitulos">Todos los
                eventos que quieras</h2>
            <ul class="lead">
                <li class="">Crea tus propios eventos</li>
                <li class="">Unete a eventos de la comuniad</li>
                <li class="">No hay limite de eventos</li>
            </ul>
            <p class="lead">Crea y unete a todos los eventos que quieras de una
                forma simple.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg
                featurette-image img-fluid mx-auto rounded-5"
                src="assets/imgMain/globos.svg" width="300" height="300">
        </div>
    </div>

    <hr class="featurette-divider my-5">

    <div class="row featurette">
        <div class="col-md-7 p-5 p-lg-4">
            <h2 class="featurette-heading fw-normal lh-1 colorTitulos">Todos los
                eventos son <span class="fw-bold">GRATUITOS</span></h2>
            <p class="lead">Todos los eventos son gratuitos, esto fomenta que se
                creen muchos eventos, en caso de necesitar material de algún
                tipo se especificará en el propio evento.</p>
            <p class="lead">Todos los gastos internos del evento serán pagados
                por el creador del evento.</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg
                featurette-image img-fluid mx-auto"
                src="assets/imgMain/dinero.svg" width="300" height="300">

        </div>
    </div>

    <hr class="featurette-divider my-5">

</div>