<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center
    bg-light fondoMain">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Event Master</h1>
        <p class="lead fw-normal">Event Master es una página web que se encarga
            de facilitar la creación y la gestión de
            eventos en los pueblos y ciudades gracias a su integración en la
            página del ayuntamiento.</p>
        <!-- <p class="lead fw-normal">El personal encargado de la página Web del ayuntamiento puede contactar con nosotros
            para integrar Event Master</p> -->
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>