<div class="text-light">
  <footer class="py-4 bg-dark">
    <div class="text-center">
      <span class="mb-3 mb-md-0">© 2022 Event Master</span>
    </div>
    <hr>
    <div class="text-center">

      <div class="centerIcon">
        <div class=""><a class="link-dark" href="https://twitter.com/?lang=es"
            target="_blank"><img
              src="/assets/Iconos/twitter.svg" class="icon"></a></div>
        <div class="ms-3"><a class="link-dark"
            href="https://www.instagram.com/?hl=es" target="_blank"><img
              src="/assets/Iconos/instagram.svg" class="icon"></a></div>
        <div class="ms-3"><a class="link-dark"
            href="https://es-es.facebook.com/" target="_blank"><img
              src="/assets/Iconos/facebook.svg" class="icon"></a></div>
      </div>
    </div>
  </footer>
</div>
