<div class="row w-100 row-cols-lg-3 align-items-stretch py-3 m-auto">
  <div class="p-3" *ngFor="let event of evento">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark
      rounded-4 shadow-lg"
      style="background: url('assets/fondoCard.jpg') 50% 50%; background-repeat:
      no-repeat ;">
      <a href="Evento/{{event.id}}" class="text-decoration-none">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{event.nombre}}</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="d-flex align-items-center me-3">
              <small>{{event.categoria}}</small>
            </li>
          </ul>
        </div>
      </a>
    </div>
  </div>
</div>
<div *ngIf="isCero" class="m-0 row justify-content-center
  align-items-center centerTextEventos">
  <h1 class="col-auto text-center">No hay eventos finalizados</h1>
</div>
